<div class="main-container">
    <div class="form-container">
        <div class="title-container"><h1 class="form-title">Criar Conta</h1></div>
        <form class="register-form">
            <input type="text" name="name-input" placeholder="Nome Completo"><br>
            <input type="email" name="email-input" placeholder="E-mail"><br>
            <input type="password" name="password-input" placeholder="Senha"><br>
            <input type="password" name="confirm-password" placeholder="Repetir Senha"><br>
            <button type="submit">Cadastrar</button>
        </form>
        <span class="login-container"><p>Tem uma conta? faça <a routerLink="/account/login">Login</a></p></span>
    </div>
</div>