<nav class="main-nav-bar">
    <div class="logo-container">Daltro Store</div>
    <div class="business-menu-container">
        <ul class="business-menu">
            <li><a routerLink="/home" routerLinkActive="seleced-menu-item">Home</a></li>
            <li><a routerLink="/products" routerLinkActive="seleced-menu-item">Produtos</a></li>
            <li><a routerLink="/suppliers" routerLinkActive="seleced-menu-item">Fornecedores</a></li>
        </ul>
    </div>
    <div class="search-bar-container">Pesquisar</div>
    <div class="auth-menu-container">
        <app-login-menu></app-login-menu>
    </div>
</nav>