<nav class="main-nav-bar">
    <div class="nav-bar-item logo-container">Daltro Store</div>
    <div class="nav-bar-item business-menu-container">
        <ul class="business-menu">
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/products">Produtos</a></li>
            <li><a routerLink="/suppliers">Fornecedores</a></li>
        </ul>
    </div>
    <div class="nav-bar-item search-bar-container">Pesquisar</div>
    <div class="nav-bar-item auth-menu-container">
        <ul class="auth-menu">
            <li><a href="#">Entrar</a></li>
            <li><a href="#">Criar Conta</a></li>
        </ul>
    </div>
</nav>